<app-navbar></app-navbar>
<br>
<div *ngIf="profile" class="row container" style="width: 100%; margin: 0 auto;">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-7">
          <div class="profile">
              <img src="{{ profile.avatar_url }}" class="img-responsive" alt="Profile Photo">
              <br>
              <p style="font-size: 25px; text-align: center; color:darkslategray;">{{ profile.login }}</p>

              <a href="{{ profile.html_url }}" target="_blank"><button type="button" style="border-radius: 0;" class="btn btn-success center-block btn-lg">Show Profile</button></a>
          </div>
      </div>
      <div class="col-md-5">
        <div class="profile-support-details">
          <table>
            <tr>
              <td style="width: 60px; text-align: center">
                <img src="../../../assets/imgs/svg/folder.svg" style="width:50px;" alt="Repositories">
              </td>
              <td>
                <p style="font-size: 16px; font-weight: bold;">Public Repositories </p>
                <p *ngIf="profile.public_repos">{{ profile.public_repos }}</p>
                <p *ngIf="!profile.public_repos">0</p>
              </td>
            </tr>
            <hr>
            <tr>
              <td style="width: 60px; text-align: center">
                <img src="../../../assets/imgs/svg/puzzle.svg" style="width:50px;" alt="Repositories">
              </td>
              <td>
                <p style="font-size: 16px; font-weight: bold;">Public Gists </p>
                <p *ngIf="profile.public_gists">{{ profile.public_gists }}</p>
                <p *ngIf="!profile.public_gists">0</p>
              </td>
            </tr>
            <hr>
            <tr>
              <td style="width: 60px; text-align: center">
                <img src="../../../assets/imgs/svg/conference_call.svg" style="width:50px;" alt="Repositories">
              </td>
              <td>
                <p style="font-size: 16px; font-weight: bold;">Followers</p>
                <p *ngIf="profile.followers">{{ profile.followers }}</p>
                <p *ngIf="!profile.followers">0</p>
              </td>
            </tr>
            <hr>
            <tr>
              <td style="width: 60px; text-align: center">
                <img src="../../../assets/imgs/svg/sports_mode.svg" style="width:50px;" alt="Repositories">
              </td>
              <td>
                <p style="font-size: 16px; font-weight: bold;">Followings</p>
                <p *ngIf="profile.following">{{ profile.following }}</p>
                <p *ngIf="!profile.following">0</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <br>

    <div class="profile-support-details">

      <p class="text-center" style="color:black; font-size: 30px;">Personal Details</p>

      <table>
        <tr>
          <td style="width: 60; text-align: center;">
            <img src="../../../assets/imgs/svg/businessman.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Name</p>
            <p style="font-size: 16px;">{{ profile.name }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.location">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/globe.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">From</p>
            <p style="font-size: 16px;">{{ profile.location }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.email">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/feedback.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Email</p>
            <p style="font-size: 16px;">{{ profile.email }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.blog">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/document.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Blog</p>
            <p style="font-size: 16px;">{{ profile.blog }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.company">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/factory.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Company</p>
            <p style="font-size: 16px;">{{ profile.company }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.created_at">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/calendar.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Created at</p>
            <p style="font-size: 16px;">{{ profile.created_at }}</p>
          </td>
        </tr>
        <tr *ngIf="profile.updated_at">
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/news.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p style="font-size: 20px; font-weight: bold;">Last Updated at</p>
            <p style="font-size: 16px;">{{ profile.updated_at }}</p>
          </td>
        </tr>
        <tr>
          <td style="width: 60px; text-align: center">
            <img src="../../../assets/imgs/svg/debt.svg" style="width:50px;" alt="Repositories">
          </td>
          <td>
            <p *ngIf="profile.hireable" style="font-size: 20px; font-weight: bold;">Hireable</p>
            <p *ngIf="!profile.hireable" style="font-size: 20px; font-weight: bold;">Not Hireable</p>
          </td>
        </tr>
      </table>
      <br>
    </div>
  </div>
  
  <div class="col-md-7">

    <div class="profile-support-details">
      <p style="font-family: 'Pacifico', cursive; font-size: 25px; text-align: center; padding: 10px;">{{ profile.bio }}</p>
    </div>

    <div class='doughnutChartsContainer container'>

      <p class="text-center" style="color:black; font-size: 30px;">Profile Overview</p>

      <div class="col-md-4 col-md-offset-1">
        <br><br>
        <!-- popular languages -->
        <canvas id="canvas1" style="width:100px; height:100px;"></canvas>
        <br><br>
        <!-- commits per repo -->
        <canvas id="canvas5" style="width:100px; height:100px;"></canvas>
        <br><br>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <br><br>
        <!-- popular repos by stars -->
        <canvas id="canvas3" style="width:100px; height:100px;"></canvas>
        <br><br>
        <!-- popular repos by watching -->
        <canvas id="canvas4" width="100px" height="100px"> </canvas>
        <br><br>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="reposDetails" class="container text-center doughnutChartsContainer" style="width: 98%;">
  <!-- size of repositories -->
      <canvas id="canvas2" width="700px" height="240px"> </canvas>
</div>
<br>

<!-- for repositories -->
<div *ngIf="repos" class="container doughnutChartsContainer" style="width: 98%;">
  <div>
    <p class="text-center" style="color:black; font-size: 30px;">Public Repositories</p>
    <div class="form-group" style="margin-right:20px;">
      <label>Search Repositories by Name : </label>
      <input class="form-control" type="text" [(ngModel)]="repository_name" placeholder="Search by repo name" style="width:250px;" autofocus/>
    </div>
  </div>
  <div>
    <div *ngFor="let repo of repos | search : repository_name" class="container profile-support-details" style="width:96%; margin-bottom: 15px; border: 1px solid darkgray;">
      <p class="text-center" style="font-size: 20px; margin-top: 20px;">{{ repo.name }} <span style="font-size: 15px;" *ngIf="repo.language">({{ repo.language }})</span></p>
      <hr>
      <div class="row continer" style="width: 100%">
        <div class="col-md-2">
          <table>
            <tr>
              <td>
                <img src="../../../assets/imgs/svg/database.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Size</p>
                <p>{{ repo.size }} kB</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
          <table>
            <tr>
              <td>
                <img src="../../../assets/imgs/svg/rating.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Stars</p>
                <p *ngIf="repo.stargazers_count">{{ repo.stargazers_count }}</p>
                <p *ngIf="!repo.stargazers_count">0</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
          <table>
            <tr>
              <td>
                <img src="../../../assets/imgs/svg/conference_call.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Watchers</p>
                <p *ngIf="repo.watchers">{{ repo.watchers }}</p>
                <p *ngIf="!repo.watchers">0</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
          <table>
            <tr>
              <td class="text-center">
                <img src="../../../assets/imgs/svg/answers.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Issues</p>
                <p *ngIf="repo.open_issues">{{ repo.open_issues }}</p>
                <p *ngIf="!repo.open_issues">0</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
          <table>
            <tr>
              <td class="text-center">
                <img src="../../../assets/imgs/svg/calendar.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Created at</p>
                <p *ngIf="repo.created_at">{{ repo.created_at }}</p>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-2">
          <table>
            <tr>
              <td class="text-center">
                <img src="../../../assets/imgs/svg/calendar.svg" style="width:50px;" alt="Repositories">
              </td>
              <td style="padding-left: 10px;">
                <p style="font-size: 15px; font-weight: bold;">Last Pushed at</p>
                <p *ngIf="repo.pushed_at">{{ repo.pushed_at }}</p>
              </td>
            </tr>
          </table>
        </div>
        <a href="{{ repo.html_url }}" target="_blank"><button class="btn btn-info" style="float: left; border-radius: 0; margin-left: 20px; margin-bottom: 10px">View on GitHub</button></a>
        <a [routerLink]="['/repos',repo.name]" ><button class="btn btn-success" style="float: right; border-radius: 0; margin-bottom: 10px;">Analyze</button></a>
      </div>
    </div>
  </div>
</div>

<br>
  
<footer>
  <div style="width:100%; color:white; background-color: rgb(36, 36, 36)">
    <div class="row container">
      <div class="col-md-1">
        <img class="navbar-brand img-circle" style="height: 85px; padding-top: 30px;" src="../../../assets/imgs/gpalogo.png">
      </div>
      <div class="col-md-11">
        <p style="padding-top: 20px; font-size: 30px;">GIT PROFILE VISUALIZER</p>
        <p style="font-size: 16px;">The fastest and easiest way to analyze your GitHub Profiles</p>
      </div>
    </div>
    <hr>
    <p class=" text-center" style="padding-bottom: 15px; font-size: 10px">&copy; <span style="font-size: 13px">TK Pvt Ltd</span> Tharindu Wathukara</p>
  </div>
</footer>