body {
    background: #F1F3FA;
}  


.profile{
  padding: 15px;
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  background: white;
}

.profile:hover{
  position: relative;
  -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}

.profile-support-details{
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  box-shadow: 1px 2px 4px rgba(108, 104, 104, 0.5);
  background: white;
}

.profile-support-details:hover{
  position: relative;
  -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, .5);
  background: white;
}

.img-responsive{
  width: 100%;
}

.doughnutChartsContainer{
  width:100%;
  margin:0 auto;
  
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  background: white;
}
